.aboutData{
  font-family: "minimal";
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: red; */
  flex-wrap: wrap;
  margin-bottom: 3vh;
}
.aboutContainer{
  display: flex;
  flex-direction: column;
}
.aboutContainer > h4{
  text-align: center;
}
.container {
  min-height: 5vh;
  padding: 2rem;
  width: 80%;
  margin: auto;
  border: 1px solid #503938;
  border-radius: 44px;
  background-color: rgba(50, 44, 44, 0.258);
  backdrop-filter: blur(10px);
  font-family: "minimal";
}

.space{
  height: 7rem ;
}
.title{
  margin: 4vh 0 ;
  font-size: 25px;
  font-family: "dune";
  font-weight: lighter;
  text-align: center;
}

.title:nth-child(1) {
  margin: 3vh 0;
}

.about {
    text-align: justify;
    font-weight: 500;
    word-spacing: 0.4rem;
}


.text{
    text-align: justify;
    font-weight: 520;
    word-spacing: 0.4rem;
    font-family: "minimal";
    font-size:x-large;
    letter-spacing: 0.1cap;
}

.img {
  width: 30%;
  margin: 0 0% 0 2%;
  margin-top: 5%;
}


@media screen and (max-width: 480px) {
  .aboutData{
    flex-wrap: wrap;
  }
  .aboutSvce {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    & img {
      height: 170px;
      position: relative;
      right: -5%;
      width: 75%;
      margin: 1rem 2rem 15% 2%;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
  .aboutData{
    flex-wrap: wrap;
  }
  .aboutSvce {
    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    & img {
      position: relative;
      right: -3%;
      width: 40vw;
      margin-bottom: 15%;
    }
  }
}