@media screen and (width < 600px) {
  .rev {
    letter-spacing: 1vw;
    font-size: 10px;

  }

  .tech {
    padding: 1vh 0;
    letter-spacing: 2vw;
    font-family: "dune";
  }

  .time {
    letter-spacing: 1vw;
    font-size: 10px;
    font-family: "dune";
  }

  .eventInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .eventInfo {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    column-gap: 1px;
    row-gap: 20px;
    flex-wrap: wrap;
  }

  .title {
    text-decoration: none;
    padding: 3% 6%;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(50, 44, 44, 0.258);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    font-family: "minimal";
  }

  .title:hover {
    background-color: #4e4ea9;
    box-shadow: 0px 15px 20px #4e4ea99b;
    color: #fff;
    transform: translateY(-7px);
  }

  .title:active {
    transform: translateY(-1px);
  }
}

.time {
  width: 100%;
  text-align: start;
  font-family: minimal;
  font-weight: 100;
  letter-spacing: 5px;
  font-size: 22px;
}


.rev {
  text-align: end;
  margin-bottom: 2.5%;
  font-family: minimal;
  font-size: 22px;
  letter-spacing: 5px;
  width: 90%;
  text-align: end;
}


@media screen and (width > 1024px) {
  .eventInfo {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    column-gap: 1px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .tech{
    letter-spacing: 1rem;
  }
  .title {
    padding: 1.4% 4%;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
    background-color: rgba(50, 44, 44, 0.258);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border: 2px solid #503938;
  }
  .an{font-family: "minimal";
    text-decoration: none;
    color: white;
    font-weight: bold;
    letter-spacing: 5px;
    font-size: large  ;
  }
  
  .title:hover {
    /* background-color: #c00020; */
    border: 2px solid #eb0029;
    box-shadow: 0px 0px 40px 0px #eb0029;
    transform: translateY(-7px);
  }
  /* .title:active {
    transform: translateY(-1px);
  } */
}


@media screen and (min-width: 601px) and (max-width: 1024px) {
  .eventInfo {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    column-gap: 1px;
    row-gap: 20px;
    flex-wrap: wrap;
  }
  .tech {
    position: relative;
    top: 0rem;
    letter-spacing:15px;
    font-size: 7vw;
    display: inline-block;
  }
  .title {
    padding: 2% 5%;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #fff;
    background-color: rgba(50, 44, 44, 0.258);
    backdrop-filter: blur(10px);
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
  }

  .title:hover {
    background-color: #4e4ea9;
    box-shadow: 0px 15px 20px #4e4ea99b;
    color: #fff;
    transform: translateY(-7px);
  }

  .title:active {
    transform: translateY(-1px);
  }

}

@keyframes drop {
  0% {
    top: -40rem;
  }

  80% {
    top: 0rem;
  }

  90% {
    top: -0.5rem;
  }

  100% {
    top: 0rem;
  }
}

.home {
  font-family: "dune";
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  padding-top: 30px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.content >h1{
  font-size: 5vw;

}

.content > h1 > span:nth-child(1) {
  animation: drop 800ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(2) {
  animation: drop 900ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(3) {
  animation: drop 1000ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(4) {
  animation: drop 1100ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(5) {
  animation: drop 1200ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(6) {
  animation: drop 1300ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(7) {
  animation: drop 1400ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(8) {
  animation: drop 1500ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(9) {
  animation: drop 1600ms ease-in;
  position: relative;
  top: 0px;
}

.content > h1 > span:nth-child(10) {
  animation: drop 1700ms ease-in;
  position: relative;
  top: 0px;
}

.content > p {
  position: relative;
  top: 0rem;
  font-weight: bold;
}

.content > p:nth-child(3) {
  font-family: "DM Sans", sans-serif;
  animation: drop 800ms ease-in;
}

.content > p:nth-child(5) {
  font-family: "DM Sans", sans-serif;
  animation: drop 700ms ease-in;
}

.content > p:nth-child(6) {
  font-family: "DM Sans", sans-serif;
  animation: drop 600ms ease-in;
}