@import url("https://fonts.googleapis.com/css2?family=Amarante&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@font-face {
  font-family:dune;
  src: url('./assets/fonts/dune_rise/Dune_Rise.otf') format("opentype");
  
}
@font-face {
  font-family: minimal;
  src: url('./assets/fonts/minimal.otf') format("opentype");
}
* {
  /* font-family:dune ; */
  padding: 0;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
}